@import url(./fonts.css);

:root {
    --primary-style-yellow: #FFFF00;
    --primary-bg-color: #171717;
    --font-family-main: "Ubuntu Condensed", sans-serif;
    --gap-small: 5px;
    --gap-medium: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}

body {
    color: rgb(229, 229, 229);
    font-family: var(--font-family-main);
}

main {
    padding: 0.5rem;

}

.max-container {
    margin: 0 auto;
    max-width: 55rem;
}

/*__________________________________________HEADER Styling_____ */

header {
    width: 100%;
    padding: 7px 0;
    background-color: var(--primary-bg-color);
    position: fixed;
    z-index: 9999;
}

.nav-brand {
    border: 2px dashed black;
}

nav {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

nav .nav-links {
    display: flex;
    gap: 20px;
    width: fit-content;
    list-style: none;
}

.nav-links li {
    width: fit-content;
    position: relative;

}

.nav-links li a {
    text-decoration: none;
    color: var(--primary-style-yellow);

}

/*________________________________________________HERO section____ */
main {
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    position: relative;

}

#hero {
    width: 100%;
    max-width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    position: relative;
}

#hero .job {
    width: fit-content;
    font-size: 26px;
    float: left;
    align-self: flex-start;
    display: flex;
    gap: var(--gap-small);

}

.yellow-underline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    padding: 0;
}

#loading {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.yellow-underline {
    width: 100%;
    border-bottom: 2px solid var(--primary-style-yellow);
    text-align: right;

}

#down {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    font-size: 25px;
    bottom: 15px;
}

.arrow-bob {
    position: relative;
    animation: bob 2s infinite ease-in-out;
}

.arrow-bob img {
    transform: rotate(180deg);
    width: 16px;
    height: auto;

}

@keyframes bob {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#loading {
    font-size: 26px;
    color: #858585;
}

#progress-text {
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    border-right: 2px solid transparent;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#progress-text.typing {
    opacity: 1;
    border-right: 2px solid;
    animation: none;
    white-space: nowrap;
}

@media (max-width: 426px) {
    #hero .job {
        font-size: 20px;
    }

    #loading {
        font-size: 20px;
    }
}


/*______________________________________My-work section_____*/

.mywork-container {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    position: relative;
    padding: 2rem 0;

}

.mywork-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1498262257252-c282316270bc?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.03;

}

.overlay-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(29, 29, 29);
    background: -moz-radial-gradient(circle, rgba(29, 29, 29, 0.3332982851343662) 51%, rgba(37, 37, 37, 0.6134103299522935) 88%);
    background: -webkit-radial-gradient(circle, rgba(29, 29, 29, 0.3332982851343662) 51%, rgba(37, 37, 37, 0.6134103299522935) 88%);
    background: radial-gradient(circle, rgba(103, 103, 103, 0.333) 51%, rgba(40, 40, 40, 0.613) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1d1d", endColorstr="#252525", GradientType=1);

    /*   where I got the css radial gradient from    https://cssgradient.io/    */
}

#work {
    width: 100%;
    max-width: 55rem;
    height: 100%;
    color: black;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#work h2 {
    align-self: center;
    font-weight: 700;
    letter-spacing: 2px;
}

#website-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-medium);
    width: 100%;
    max-width: 1200px;
    height: auto;


}

#website-container .imac-window {
    width: 80%;
    height: auto;
    z-index: 999;
    margin: 0 auto;
}

#website-image {
    position: absolute;
    top: 2.8%;
    left: 12.5%;
    width: 74%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.website-info-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(203, 203, 203, 0.555);
    padding: 1rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-medium);
    border-radius: 5px;
    background-blend-mode: screen;
    box-shadow: 4px 4px 20px rgb(147, 147, 147);

}

.website-info-wrapper .website-visit {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.website-info-wrapper .website-visit img {
    width: 19px;
    aspect-ratio: 1/1;

}

.website-info-wrapper .website-link {
    color: rgb(27, 84, 217);
    text-align: center;
}

#website-container .website-description {
    height: 50px;
}

#prev,
#next {
    position: absolute;
    top: 37%;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid var(--primary-style-yellow);
    ;
    border-radius: 50%;
    height: 35px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;

}

#prev img,
#next img {
    width: 22px;
    margin-bottom: 4px;
}

#prev {
    left: 0;
    transform: rotate(-90deg);
    transition: left 300ms ease;

}

#prev:hover {
    left: -3px;
}

#next {
    right: 0;
    transform: rotate(90deg);
    transition: right 300ms ease;
}

#next:hover {
    right: -3px;
}


@media (max-width: 769px) {
    #prev:hover {
        left: 0;
    }

    #next:hover {
        right: 0;
    }
}

@media (max-width: 426px) {
    #work {
        padding: 5px;
    }

    #website-container .imac-window {
        width: 100%;
    }

    #website-image {
        position: absolute;
        top: 2%;
        left: 3.5%;
        width: 92.5%;
    }

    .website-info-wrapper {
        width: 100%;
        padding: 1rem 5px;
    }

    .button-container {
        width: 100%;
        align-self: center;
        display: flex;
        gap: 13rem;
        align-items: center;
        justify-content: center;
    }

    #prev,
    #next {
        position: relative;
        top: 0;
    }
}

/*_______________________________________About me section_____*/

.about-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
}

@media (max-width: 426px) {
    .about-container {
        padding: 5px;
    }
}


#grid-about {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    place-content: center;
    gap: 20px;
    border-radius: 5px;
}

.me {
    grid-row: 2;
    width: 100%;
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.skills {
    grid-row: 3;
}

.skills ul li {
    list-style: none;
    margin-top: 8px;
    padding-left: 0;
}

.skill-side {
    color: var(--primary-style-yellow);
    ;
    margin-right: 5px;
}

.skill-level {
    color: rgb(137, 137, 137);
}

.social {
    width: 100%;
    gap: var(--gap-medium);
    grid-row: 5;
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    align-items: center;

}

.social a {
    justify-self: flex-end;
    text-decoration: none;
    color: var(--primary-style-yellow);
    ;
    position: relative;

}

#grid-about .back-to-top {
    grid-row: 6;
    width: 30px;
    background: transparent;
    border: none;
    place-self: center;
    transform: scale(80%);
    margin-bottom: 10px;
}

.back-to-top img {
    transform: rotate(0deg);
}



/*__________________yellow underline animation for nav links____*/
.stretch-line-animated::before {
    content: '';
    width: 2px;
    height: 2px;
    background-color: var(--primary-style-yellow);
    ;
    position: absolute;
    bottom: -2px;
    transition: width 300ms ease;
}

.stretch-line-animated:hover::before {
    width: 100%;
}