@import url("https://fonts.googleapis.com/css2?family=Condiment&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@theme {
  --font-marvel: "Marvel", sans-serif;
  --font-condiment: "Condiment", cursive;
}

@import "tailwindcss";

@layer base {
  body {
    scroll-behavior: smooth;
    background-color: white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-condiment;
  }

  p,
  a,
  button {
    @apply font-marvel;
  }
}
